# .gitignore

data_storage/raw/*
!data_storage/raw/*.dvc
data_storage/raw/weather_*.csv
/data_storage
logs/
.dvc/tmp/
.dvc/tmp/*
__pycache__/
*.pyc
logs/
# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Airflow
logs/
airflow.db
airflow.cfg
unittests.cfg
webserver_config.py

# DVC
.dvc/tmp/
